@model IEnumerable<SH.Models.Residents>

@{
    ViewData["Title"] = "allusers";
}

<h2>All Users</h2>
@if (!string.IsNullOrEmpty(ViewBag.msg))
{
   <div class="alert alert-danger">you don't have permission to delete super admin</div>
}

<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            
           
            <th>
                @Html.DisplayNameFor(model => model.Permission)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            
            
            <td>
                @Html.DisplayFor(modelItem => item.Permission)
            </td>
           
            <td>
                @if (item.Id != 1)
                {
                    <a href="/Home/Edituser?Id=@item.Id" class="btn-xs btn-info">Edit</a>
                }
                <a href="/Home/Deleteuser?Id=@item.Id" class="btn-xs btn-info">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
&nbsp;&nbsp;<br /><br /><br />
<center>
    <div>
        <a asp-action="dashoboard" class="btn btn-info"><span class="fa fa-arrow-left"> Back to Dashboard</span></a>
    </div>
</center>