@model SH.Models.Appliances


<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawStuff);

        function drawStuff() {
            var data = new google.visualization.arrayToDataTable([
              ['Month', 'Bills'],
              ['@ViewBag.a', '@ViewBag.wed'],
              ['@ViewBag.c', '@ViewBag.thu']

            ]);

            var options = {
                title: 'Chess opening moves',
                width: 900,
                legend: { position: 'none' },
                chart: {
                    title: 'Bill consumption of 12 months',
                    subtitle: 'popularity by percentage'
                },
                bars: 'horizontal', // Required for Material BarCharts.
                axes: {
                    x: {
                        0: { side: 'top', label: 'Bill' } // Top x-axis.
                    }
                },
                bar: { groupWidth: "100%" }
            };

            var chart = new google.charts.Bar

    (document.getElementById('top_x_div'));
            chart.draw(data, options);
        };
    </script>
</head>
<body>
    <div id="top_x_div" style="width: 900px; height:500px;"></div>
</body>
</html>











