

<a href="/Home/seegraph" class="btn btn-lg success">Room Status</a>




<a href="/Home/Chart" class="btn btn-lg success">Appliances consumption</a>



<a href="/Home/Bill" class="btn btn-lg success">View Bill</a>







