@model IEnumerable<SH.ViewModelTransactin>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

  
}
<link href="~/Theme/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Theme/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />
<form asp-action="CostbyUser">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        &nbsp; &nbsp;
        <center>
            <div class="form-group">
   @if (Model == null || Model.Count() < 1)
   {
     @Html.DropDownList("ddlfirstname", (IEnumerable<SelectListItem>)ViewBag.fname, "Select First Name")
   }
                  @*@Html.DropDownList("MyProjectList", new SelectList(ViewBag.MyProjectData, "Id", "UserName"))*@
                <input type="datetime" placeholder="From Date" class="form-control datepicker" id="FromDate" name="FromDate">
                <input type="datetime" placeholder="To Date" class="form-control datepicker" id="ToDate" name="ToDate">
                &nbsp; &nbsp;
                <input type="submit" value="Generate Report" class="btn btn-info" />

            </div>
        </center>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
            </div>
        </div>
    </div>
</form>

@if (Model != null && Model.Count()>1)
{
    var totcost = 0.0;
    var tottime = 0;
    var name = "";
    <div><center><h4>Cost By User</h4></center></div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Time</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
               @foreach (var item in Model)
               {
                   name = item.Username;
                   tottime = tottime+item.Timespan;
                   var a=item.Timespan*0.000277;
                   var timeVolt = Int32.Parse(@item.Voltages) * a;
                   var cost = timeVolt / 1000;
                   totcost = totcost + cost;
               }
                <tr>
                    <td>@name</td>
                    <td>@tottime Sec</td>
                    <td>@totcost Rs</td>
                </tr>
            </tbody>
        </table>
    </div>
}
<br /><br /><br />
<center>
    <div>
        <a asp-action="dashoboard" class="btn btn-info"><span class="fa fa-arrow-left"> Back to Dashboard</span></a>
    </div>
</center>

@*<p>

        <input type="button" value="Print Document" onclick="window.print()" class="btn btn-primary" />

    </p>*@


@section Scripts {

    <script src="~/Theme/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    @*<script>
        $(function () { // will trigger when the document is ready
            $('.datepicker').datepicker({

                format: 'dd/mm/yyyy'
            }); //Initialise any date pickers
            useCurrent: false
        }).on('dp.show', function () {
            return $(this).data('DateTimePicker').defaultDate(new Date());
        });*@

    <script>
            $(document).ready(function () {
        var today = new Date();
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose:true,
            endDate: "today",
            maxDate: today
        }).on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });
    });


                //datatable


               $(document).ready(function() {
                   $('#example').DataTable({
                       responsive: true,
        dom: 'Bfrtip',
        buttons: [
            'print'
        ]
    } );
               });


    </script>







}
