@model SH.Models.Residents

@{
    ViewData["Title"] = "Edituser";
}


@if (ViewBag.Message != null)
{
    @if (ViewBag.Message == "User is successfully edited.")
    {
        <div class="alert alert-success" id="myDiv"> <span class="glyphicon glyphicon-user"></span><h4>@ViewBag.Message</h4> </div>
    }

    else
    {
        <div class="alert alert-danger"> <span class="glyphicon glyphicon-user"></span><h4>@ViewBag.Message</h4> </div>
    }
}



<center><h2><strong>Edit User</strong></h2></center>

<form asp-action="Edituser">
    <div class="form-horizontal">
       
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group" hidden>
            <label asp-for="Id" class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Username" class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger" />
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "error" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger" />
            </div>
        </div>
        


        <div class="form-group">
            <label asp-for="Permission" class="col-md-4 control-label"></label>



            <div class="col-md-4" id="list">

                @{

                }

            </div>
        </div>


        <div class="form-group">
            <label asp-for="Usertype" class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <input type="radio" name="usertype" value="Admin" checked />Admin
                <input type="radio" name="usertype" value="Other" />Other
            </div>
        </div>





        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts
{
    <script>
        $(function () {



            $("#list").load("/Home/list");

        });




        $("#myDiv").fadeOut(4000);



    </script>


}
