
@{
    Layout = "";
}


@model IEnumerable<SH.Models.Room>

@{
    ViewData["Title"] = "list";
    IList<Room> rooms = ViewBag.rm;
}

<form asp-action="Register">

    @foreach (var item in rooms)
    {

      
       @item.Name <input type="checkbox" value="@item.Name" name="box" />

     
    
    }
    </form>